/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0a0a0a;
    color: #f5f5f5;
    line-height: 1.6;
}

/* ===== COULEURS ===== */
:root {
    --yellow: #ffd60a;
    --dark: #0a0a0a;
    --card: #111111;
}

/* ===== CONTAINER ===== */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* ===== NAVIGATION ===== */
header {
    background: #000;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--yellow);
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--yellow);
    letter-spacing: 2px;
    transition: 0.3s;
}

.logo:hover {
    text-shadow: 0 0 15px var(--yellow);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--yellow);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* ===== HERO ===== */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    color: var(--yellow);
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: var(--yellow);
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* ===== SECTIONS ===== */
.section {
    padding: 100px 0;
}

/* ===== GRID ===== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* ===== CARDS ===== */
.card {
    background: var(--card);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #222;
    transition: 0.4s ease;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: var(--yellow);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 214, 10, 0.4);
}

/* ===== COMPETENCE BOX STYLE ===== */
.card h3 {
    color: var(--yellow);
    margin-bottom: 10px;
}

/* ===== GRID 2 ===== */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

/* ===== ANIMATION ===== */
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.virtualbox {
    width : 100 px;

}
